<div class="jumbotron">
	<h2>Contact</h2><br>
	<p class="lead">
		微博: <a href="http://weibo.com/nowa">@朱异翅</a> <br>
		Twitter: <a href="http://twitter.com/nowazhu">@nowazhu</a> <br>
		Email: nowazhu@gmail.com
	</p>
</div>