<div class="jumbotron">
	<h2>江左沉酣求名者，岂识浊醪妙理</h2><br>
	<p class="lead">
		Pi with Nowa
	</p>
</div>

<hr>

<p class="lead">
这是一个运行在 <a href="http://www.raspberrypi.org" target="_blank">Raspberry Pi</a> & <a href="http://archlinuxarm.org/" target="_blank">Arch Linux ARM</a> 上的站点，完全使用 <a href="http://golang.org" target="_blank">Go</a> 编写，由 <a href="https://github.com/bmizerany/pat" target="_blank">pat</a> Routing，模板引擎使用了<a href="https://github.com/hoisie/mustache" target="_blank">mustache</a>。
</p>
<br>

<h4>由 Pi 驱动的站点</h4>
<ul>
	<li><a href="http://go.myalert.info" target="_blank">When Go meets Raspberry Pi</a></li>
</ul>