<p class="lead">
这是一个运行在 <a href="http://www.raspberrypi.org" target="_blank">Raspberry Pi</a> 上的站点，完全使用 <a href="http://golang.org" target="_blank">Go</a> 编写，由 <a href="https://github.com/bmizerany/pat" target="_blank">pat</a> Routing。
</p>